.header-transparent {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;

    &.header--sticky.sticky {
        position: fixed !important;
        top: 0;
        display: block;
        backdrop-filter: blur(9px);
        z-index: 999;
        width: 100%;
        box-shadow: none;
        background: var(--color-white);

        .header-transparent-main-wrapper {
            .main-nav>a {
                color: var(--color-heading-1) !important;

                &:hover,
                &.active {
                    color: var(--color-primary) !important;
                }
            }

            .has-dropdown::after,
            .has-dropdown.mega-menu>a::after {
                color: var(--color-heading-1) !important;
            }
        }
    }
}

.header-transparent-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main-nav>a {
        color: var(--color-white) !important;
        text-decoration: none;

        &:hover,
        &.active {
            color: var(--color-white) !important;
        }
    }

    .has-dropdown::after,
    .has-dropdown.mega-menu>a::after {
        color: var(--color-white) !important;
    }

    .rts-btn.btn-primary {
        border-radius: var(--radius);
        @media #{$large-mobile} {
            display: none;
        }
    }
}

.in-full-screen .header-transparent-main-wrapper{

    position: relative;

    .rts-mega-menu {
        left: 50%;
        width: 80%;
        transform: translateX(-50%) scaleY(0);
    }

    .has-dropdown.mega-menu:hover .rts-mega-menu {
        transform: translateX(-50%) scaleY(1);
    }
}